body {
    font-family: 'Ubuntu', sans-serif;
}

#bbcon {
  margin: 12px auto;
}

.build-button {
  background-color: #111111;
  color: white;
  padding: 12px 17px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline;
  margin: 12px auto;
  font-family: 'Ubuntu', sans-serif;
}

.build-button:hover,
.build-button:focus {
  background-color: #333333;
}

p .sep {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

p .sep::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.33px;
  background-color: rgba(153, 153, 153, 0.33);
  position: absolute;
  bottom: -0.5em;
  left: 0;
}
