code {
    background-color: gray;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid;
    border-color: gray;
}

pre code {
    background-color: gray;
    border-radius: 5px;
    border: 1px solid gray;
    display: block;
    padding: 2px;
    display: block;
    white-space: pre-wrap;
}

.table-of-contents {
    position: absolute;
    right: 15%;
    top: 20%;
}

.table-of-contents ul {
    padding-top: 5px;
}

.table-of-contents li {
    float: left;
    clear: both;
    padding: 1px;
}

.dependencies ul {
    padding-top: 5px;
}

.dependencies li {
    float: left;
    clear: both;
    padding: 1px;
}

.code-float {
    float: left;
}

.wiki-content {
    position: absolute;
    width: max-content;
    height: fit-content;
    left: 5%;
    top: 10%;
    display: inline-block;
}

.wiki-content .content {
    position: absolute;
    height: 100%;
    width: max-content;
    height: max-content;
    left: 0%;
    float: left;
    clear: both;
}