code {
    background-color: gray;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid;
    border-color: gray;
}

pre code {
    background-color: gray;
    border-radius: 5px;
    border: 1px solid gray;
    display: block;
    padding: 2px;
    display: block;
    white-space: pre-wrap;
}

.table-of-contents {
    position: absolute;
    right: 15%;
    top: 20%;
}

.table-of-contents ul {
    padding-top: 5px;
}

.table-of-contents li {
    float: left;
    clear: both;
    padding: 1px;
}

.wiki-content {
    position: absolute;
    width: max-content;
    height: fit-content;
    left: 5%;
    top: 10%;
    display: inline-block;
}

.wiki-content .content {
    position: absolute;
    height: 100%;
    width: max-content;
    height: max-content;
    left: 0%;
    float: left;
    clear: both;
}
.navbar {
    position: absolute;
    top: 4%;
    left: 0%;
    background-color: #222222;
    min-width: 101%;
    padding: 5px;
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar a {
    display: block;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid;
    width: 100px;
  }
  
  .alert-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #03cd0d;
    min-width: 100%;
    padding: 6px;
    text-align: center;
  }
  
  .alert-bar h3 {
    margin: 0;
    padding: 0;
  }